sudo: required
language: java
jdk:
    - oraclejdk11
script:
    - mvn install
deploy:
  provider: s3
  access_key_id: $AWS_KEY
  secret_access_key: $AWS_SECRET_KEY
  bucket: "maventravis"
  skip_cleanup: true
cache:
  paths:
    - '/root/.m2/**/*'
